################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Symphonize.For.Windows.Store/bin/Debug
/Symphonize.For.Windows.Store/obj/Debug
*.user
*.suo
